:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    padding: 0;
    margin: 0;
}

input[type="checkbox"] {
   -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.menu-bar {
   position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.menu-bar .middle {
    height: 6px;
    width: 80px;
    background-color: hotpink;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.menu-bar .top {
    bottom: 15px;
    height: 6px;
    width: 80px;
    background-color: hotpink;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.menu-bar .bottom {
    top: 20px;
    height: 6px;
    width: 80px;
    background-color: hotpink;
    position: absolute;
    transition: 0.3s ease-in-out;
}

input[type="checkbox"]:hover ~ .menu-bar .top {
    transform: rotate(-45deg);
    width: 70px;
    transform-origin: right;
    top: -25px;
}

input[type="checkbox"]:hover ~ .menu-bar .bottom {
    transform: rotate(45deg);
    width: 70px;
    transform-origin: right;
    top: 25px;
}

input[type="checkbox"]:hover ~ .menu-bar .middle {
    transform: translateX(20px);
    opacity: 0;
}